<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        <p>Lugar para poner la barra de búsqueda</p> 
        <p>Comprá en cuotas y sin tarjeta de crédito</p>´
        <ul>
            <li><a href = "www.google.com">Ofertas</a></li>
            <li><a href = "www.google.com">Tiendas Oficiales</a></li>
            <li><a href = "www.google.com">Vender</a></li>
            <li><a href = "www.google.com">Ayuda</a></li>
        </ul> 
        <ul>
            <li><a href = "www.google.com">Creá tu Cuenta</a></li>
            <li><a href = "www.google.com">Ingresa</a></li>
            <li><a href = "www.google.com">Mis Compras</a></li>
        </ul>
        </header>
        <br>
        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
                <br>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
                <br>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
                <br>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </section>

            <section>
                <h3>Basado en tu última visita</h3>
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
                <br>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
                <br>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
                <br>
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </section>
        </main>
        <br>
        <footer>
            <h3>Pagá con tarjeta con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
            efectivo en puntos de pago.¡Y siempre es seguro!</p>
            <br>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
                Es un beneficio de Mercado Puntos
            </p>
            <br>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre 
                no hay nada que no puedas hacer porque estás siempre 
                protegid@.
            </p>
            <br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>

        </footer>
    </body>
  </html>

